/*------------------------- Function ----------------------------*/

.container {
  background-color: #e3e7f6;
  height: 100vh;
  width: 100%;
}

.functions {
  border: 1px solid;
  background-color: #202938;
  width: 18%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.functions button {
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}

.functions button:hover {
  cursor: pointer;
  background-color: #e3e7f6;
}

/*--------------------------------------------- AddCategory ------------------------------------*/

.AddCat {
  position: fixed;
  top: 35%;
  left: 30%;
  border: 1px solid;
  height: 25%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Roboto", sans-serif;
  background-color: white;
}

.AddCat h2 {
  color: red;
}

.AddCat input {
  outline: none;
  padding: 4px;
}

.AddCat button {
  width: 100px;
}

.AddCat button:hover {
  cursor: pointer;
}

/* ------------ Navbar -----------*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.navbar h4 a{
	color: #767A7A;
	text-decoration: none;
}

.navbar h4 a:hover{
	color: #2896a9;
}

.sign :link,.log :link{
	text-decoration: none;
	color: #ffffff;
}

.sign a{
	color: #ffffff;
}

.log a{
	color: #46ADCD;
}

.navbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: #54534f;
  box-shadow: 1px 1px 5px;
}

.logo {
  height: 30px;
  width: 100px;
  margin-left: 18px;
  margin-bottom: 8px;
}

.logo:hover {
  cursor: pointer;
}

.sign,.log{
	outline: none;
}

/* ------------------- Navbar dropdown list ---------------------------- */

.drop-button {
  background-color: white;
  color: #767A7A;
  font-weight: bold;
  padding: 23px;
  font-size: 16px;
  border: none;
  margin-top: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 2px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #2896a9;
}

.dropdown:hover .dropdown-content {
  display: block;
  padding-top: 10px;
}

.dropdown:hover .drop-button {
  color: #2896a9;
  cursor: pointer;
}

/* --------------------------- Search ---------------------- */

.search {
  border: 1px solid;
  width: 60%;
  height: 65%;
  display: flex;
  align-items: center;
  border-radius: 40px;
  padding-left: 15px;
}

.search img {
  height: 30px;
  width: 30px;
}

.search input {
  width: 90%;
  height: 60%;
  margin-left: 1px;
  outline: none;
  border: none;
}

.navbar h4:hover {
  color: #2896a9;
  cursor: pointer;
}

.log:hover {
  color: black;
  cursor: pointer;
}

.sign:hover {
  background-color: #18294d;
  cursor: pointer;
}

.log {
  width: 6%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #2896a9;
  background-color: white;
  font-size: 15px;
  color: #2896a9;
  font-weight: bold;
  margin-right: -15px;
}

.sign {
  width: 6%;
  height: 40px;
  margin-right: 20px;
  border-radius: 4px;
  border: 1px solid #2896a9;
  background-color: #2896a9;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

/* -------------------------------------------------- Interface -----------------------------------------*/

.wlc {
  margin-top: 3px;
}

.wlc img {
  height: 400px;
  width: 100%;
}

.innerTxt {
  color: #54534f;
  font-weight: bolder;
  font-size: 25px;
}

.innerTxt h4 {
  margin-top: 20px;
  font-size: 20px;
  margin-left: 100px;
}

.innerTxt h1{
	padding-left: 100px;
	margin-top: -330px;
}

.innerTxt button {
  margin-left: 100px;
  margin-top: 20px;
  height: 60px;
  width: 180px;
  font-size: 25px;
  color: #18294d;
  background-color: white;
  font-weight: bold;
  border: none;
  border-radius: 3px;
}

.innerTxt button:hover {
  background-color: #18294d;
  color: white;
  cursor: pointer;
}

.innerTxt button a{
	text-decoration: none;
	padding: 15px 17px 15px 15px;
	color: #54534F;

}

.innerTxt button a:hover{
	color: #ffffff;
}

/* ----------------------------------------------- Goals ----------------------------------------------*/

.goals {
  margin-left: 13%;
  margin-top: 100px;
  border-top: 1px solid silver;
  border-bottom: 1px solid #54534f;
  margin-bottom: 70px;
  width: 73%;
  color: #54534f;
  height: 420px;
}

.goals h1 {
  margin-left: 30%;
  margin-top: 70px;
  margin-bottom: 70px;
}

.boxes {
  margin: 40px 0 0 0;
  display: flex;
  justify-content: space-between;
  color: #54534f;
}

.boxes img {
  height: 50px;
  margin-bottom: 25px;
}

.box {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
  font-weight: bolder;
}

.box h2 {
  margin-bottom: 12px;
  margin-top: -10px;
  font-size: 23px;
  letter-spacing: 2px;
}

.box h4 {
  line-height: 25px;
  font-size: 18px;
  font-weight: bold;
}

/*------------------------------------------------------Top Categories ----------------------------*/

.tt {
  justify-content: left;
  width: 87%;
  margin-left: 0%;
  margin-top: 3%;
  margin-bottom: 40px;
  font-size: 35px;
  font-weight: 900;
  color: #3c3b37;
}

.cards {
  color: #3c3b37;
  width: 85%;
  margin-left: 7%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  margin-bottom: 10px;
  margin-right: 2px;
  border: 1px solid silver;
  height: 350px;
}

.card:hover {
  cursor: pointer;
}

.card img {
  height: 310px;
  width: 300px;
}

.card_course {
  margin-bottom: 20px;
  margin-right: 5px;
  border: 1px solid silver;
  height: 200px;
}

.card_course:hover {
  cursor: pointer;
}

.card_course img {
  height: 180px;
  width: 170px;
}

/* ---------------------------------------------------- Become Instructor -----------------------*/
.smile {
  border-top: 1px #3c3b37 solid;
  margin-top: 30px;
  height: 600px;
  display: flex;
  align-items: center;
  background-color: #c5e0ed;
}

.smile img {
  height: 400px;
  margin-left: 20%;
}

.smile div {
  margin-left: 50px;
  font-weight: bolder;
  color: #3c3b37;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 210px;
}

.smile button {
  width: 170px;
  height: 50px;
  font-size: 16px;
  font-weight: bolder;
  color: white;
  background-color: #2896a9;
  border-radius: 5px;
  border: none;
}

.smile button:hover {
  cursor: pointer;
  background-color: #18294d;
}

/* ---------------------------------------- Team -----------------------------------------------*/

.team {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3c3b37;
}

.team h1 {
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.members {
  width: 65%;
  display: flex;
  justify-content: space-between;
}

.team img {
  height: 200px;
  border-radius: 50%;
}

.team img:hover {
  cursor: pointer;
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 270px;
  justify-content: space-evenly;
}

/* ------------------------------- Course details card ---------- */
.course {
  display: flex;
  border: 5px solid #2896a9;
  border-radius: 25px;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  align-items: stretch;
  height: 470px;
  margin-top: 30px;
  justify-content: space-evenly;
}

.course img {
  object-fit: scale-down;
  border-radius: 15px;
  margin-top: 2%;
  margin-left: 2%;
}
.course .course-details {
  display: flex;
  margin-left: 5%;
  flex-direction: column;
  align-items: flex-start;
  height: 470px;
  justify-content: space-evenly;
}

.course .course-details h3 span {
  border: solid tomato 1px;
}

.course h3,
h2 {
  border: #f7f6f4 solid 1px;
}

/* ------------------------------- Interface  ---------- */

.wlc {
  background-image: silver;
  height: "400px";
  background-size: "cover";
  background-position: "center";
}

/*-------------------------------------------Register------------------------------*/

.register-cont {
  height: 100vh;
  width: 100%;
  background-color: #fafafa;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.register {
  border: 1px solid #dbdbdb;
  background-color: #ffffff;
  height: 650px;
  width: 340px;
  margin-top: 10px;
  box-shadow: 1px 2px 5px #888888;
}

.register-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px 0 20px 0;
  line-height: 60px;
}

.register-logo img {
  width: 50%;
  height: 60px;
  display: flex;
  justify-content: center;
}

.register-logo p {
  font-size: larger;
  font-weight: 900;
  color: #8e8e8e;
}

.s-border {
  border-top: 2px solid #dbdbdb;
  width: 80%;
  margin: -10px 0 20px 10%;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs input {
  width: 80%;
  height: 35px;
  outline: none;
  margin-top: 10px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  padding-left: 5px;
  border-radius: 5px;
}

.inputs input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 80%;
  margin-left: 10%;
}

.signup p {
  margin-top: 15px;
  font-size: small;
  text-align: center;
}

.signup button {
  height: 30px;
  width: 100%;
  background-color: #b2dffc;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: large;
  font-weight: bold;
  outline: none;
}

.signup button:hover {
  cursor: pointer;
  background-color: #0384fc;
}

.is-sign {
  border: 1px solid #dbdbdb;
  background-color: #ffffff;
  height: 50px;
  width: 340px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 2px 5px #888888;
}

.check {
  margin: 17px 0 0 10%;
}

.is-sign a {
  margin-left: 3px;
  text-decoration: none;
  color: #0384fc;
}

.inputs span {
  color: red;
}
/*----------------------------------------Login------------------------------------*/

.login-logo img {
  width: 50%;
  height: 60px;
  margin: 40px 0 0 25%;
}

.login-logo p {
  font-size: larger;
  font-weight: 900;
  color: #8e8e8e;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.login {
  border: 1px solid #dbdbdb;
  background-color: #ffffff;
  height: 370px;
  width: 340px;
  margin: 6% 0 0 40%;
  box-shadow: 1px 2px 5px #888888;
}

.l-border {
  border-top: 2px solid #dbdbdb;
  width: 80%;
  margin: 20px 0 0 11%;
}

.not-sign {
  border: 1px solid #dbdbdb;
  background-color: #ffffff;
  height: 70px;
  width: 340px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40%;
  box-shadow: 1px 2px 5px #888888;
}

.not-sign a {
  margin-left: 3px;
  text-decoration: none;
  color: #0384fc;
}

.page-not-found {
  text-align: center;
  padding: 1%;
}

.page-not-found img {
  height: 50vh;
  width: 60%;
  position: relative;
}
